:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    --fonte-padrao: 'Inter';
}


body {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 24.08%, rgba(12, 112, 242, 0.00) 30.1%), #303030;
}

#navHeader {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #BABABA;
}

#navHeader a{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

#navHeader button {
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    background: var(--azul-dnc);
    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);

    margin-right: 5%;
    cursor: pointer;
}

#navBar {
    display: flex;
    width: 50%;
    gap: 32px;
    margin-left: 5%;
    margin-right: 0;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#sectionHeader h1{
    color: #FFF;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-top: 100px;
    margin-bottom: 26px;
}

#sectionHeader p{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#sectionForm {
    margin-top: 100px;
}

.invert{
    background-color: var(--preto-dnc);
    padding: 0px 10px;
}

form {
    color: white;
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.formGroup {
 display: flex;
 flex-direction: column;
 margin: 10px 0px;
}

form input{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.90);
    border: none;

    color: rgba(57, 57, 57, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
}

form label{
    margin: 0px 0px 10px 0px;
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#formCheckbox {
    margin: 34px 0px;
}

.checkboxItens label{
    font-size: 25px;
    margin: 0;
}

.checkboxItens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-align: center;


}

input[type="checkbox"]{
    transform: scale(1.7);
}

input[type="submit"]{
    border-radius: 10px;
    background: rgba(12, 112, 242, 0.90);
    box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
    width: 100%;
    padding: 16px 0px;
    margin: 60px 0px 100px 0px;

    color: white;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: var(--azul-dnc);

}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 70px;
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 46px;
    height: 340px;

}

footer p {
    text-align: center;
    color: white;

    font-size: 25px;
    font-weight: 800;

    background-color: var(--preto-dnc);
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 26px;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

footer ul li {
    text-align: center;
    color: white;
    
    font-size: 25px;
    font-weight: 600;

    margin-bottom: 20px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

footer ul li a:hover{
    color: var(--cinza-hover);
}

footer .endereco {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    
}

footer .linha2 {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

footer .linha2 a:hover{
    color: var(--cinza-hover);
}

footer .linha2 a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 32px;
    text-decoration: none;
    padding: 10px;

}

footer .linha2 a:first-child{
    border-right: 3px solid white;
}






@media only screen and (max-width: 600px){


    /* HEADER */
    #navHeader{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a {
        display: flex;
        align-items: center;
        height: 50px;
    }

    #navHeader button {
        height: 100%;
        margin: 0px;
    }

    /* SECTION */
    section h1{
        font-size: 38px;
    }

    section p{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form {
        width: 95px;
        font-size: 20px;
    }

    .checkboxItens label{
        font-size: 17px;
    }
}